body {
	padding: 10px;
}
#badge {
	border: 1px solid red;
	padding: 10px;
	width: 450px;
	height: 200px;
}
#badge img {
	float:left;
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin: 10px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}